@model WebUi.Models.TaskModel
@using Zesium.Project.CompanySystem.Models
@using WebUi.Attributes;

@{
    ViewBag.Title = "GetAllTasks";
}
<h2>Tasks</h2>
 @*@User user = (User)Session["user"];
@if (user.UserType == UserType.Manager ||
   user.UserType == UserType.Administrator)*@
<p>
    @Html.ActionLink("Create New", "CreateNewTask", "Task", new {id=Model.ProjectId, employeeId=Model.EmployeeId }, null)
</p>

<table class="table">
    <tr>

       
        <th>
            @Html.DisplayName("Task Name")
        </th>

        <th>
            @Html.DisplayName("Task State")
        </th>

        <th>
            @Html.DisplayName("Task Start Time")
        </th>

        <th>
            @Html.DisplayName("Task End Time")
        </th>

        <th>
            @Html.DisplayName("Estimated working time")
        </th>

        <th>
            @Html.DisplayName("Remaining working time")
        </th>

        <th>
            @Html.DisplayName("Task Description")
        </th>

        <th>
            @Html.DisplayName("Task Comment")
        </th>

        <th></th>
    </tr>

@foreach (var item in Model.Tasks) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TaskName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskStartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstimatedWorkingTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RemainingWorkingTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskComment)
        </td>  
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.Id }) |
            @Html.ActionLink("Details", "Details", new {  id=item.Id}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
